
#card {
    padding: 11px 11px 0px;
}

#card .avatar{
    width: 55px;
    height: 55px;
    vertical-align: middle;/*这个是图片和文字居中对齐*/
}
#card .name {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 16px;
}
#card .search {
    background: #26292E;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    outline: none;/*鼠标点击后不会出现蓝色边框*/
  color: #FFF;
}

.card-icon{
    padding:10px 10px 0px;
}