#app {
    margin: 0px auto;
    width: 900px;
    height: 680px;
    overflow: hidden;
    border-radius: 10px;
}
#app .sidebar{
    height: 100%;
  }
#app .main{
  height: 100%;
}
#app .sidebar {
    float: left;
    color: #f4f4f4;
    background-color: #2e3238;
    width: 200px;
  }
#app .tip {
    margin: 10px auto 10px;
  }
.logo {
    height: 60px;
    margin: 10px 10px 50px 15px;
}